div[data-tooltip] {
  position: relative;
  z-index: 1;
}

div[data-tooltip]:hover {
  z-index: 50;
}

div[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #000000;
  color: #f8e5e5;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  top: -150%;
  transform: translateY(-50%);
  white-space: nowrap;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  z-index: 9999;
  pointer-events: none;
}
